@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  padding: 0%;
  margin: 0%;
}
body{
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.logo-text{
  color: #f27644;
}

.logo-bg{
  background-color: #f27644;
}
